<%- include('./partials/header'); %>
    <section class="sub-header">
        <%- include('./partials/nav'); %>
        

        <h1>Professores do DCOMP</h1>
    </section>
   
<div class="CaixaCards">
    <% profs.forEach( prof => { %> 
        <div class="outroMain"> 
            <section class="sideBar">
                <div class="sideBlock">
                    <img src="<%= prof.linkFoto%>" class="fotoProfessor">
                    <img src="images/dcomp-icon.png" class="dcompLogo">
                </div>
            </section>

            <section class="mainContent">
                <div class="cardProf">
                    <div class="mainBlock">

                        <div class="header2">
                            <h2><%= prof.nome %></h2>
                        </div>  
                        <div class="areas">
                            <div class="area1">
                                <img src="./icons/engenharia-de-software.png" alt=>
                                <p><%= prof.area %></p>
                            </div>  
                            <div class="area2"> 
                                <img src="./icons/informatica-em-saude.png" alt=>
                                <p><%= prof.subArea %></p>
                            </div>      
                        </div>
                    </div>     
                </div>
            </section>
        </div>
    <% }) %>
</div>

<div class="container">
<div class="pagination">
   <form method ='GET' action="/profs">
        <ul>
            <li class="link active"><a href="/profs">1</a></li>
            <li class="link"> <a href="/profs/2">2</a></li>
            <li class="link" value="3"><a href="/profs/3">3</a></li>
            <li class="link" value="4"><a href="/profs/4">4</a></li>
        </ul>
    </form>
</div>
</div>
<!-- Rodapé -->
<%- include('./partials/footer'); %>

